// -------------------------------------------------- styles popup -------------------------------------------- //

.content-hide {
    display: none;
    position: absolute;
    top: 53%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #c9cece;
    border-top: 3px solid $color-primary;   
    z-index: 100;  
  

    h3 {
        margin: 0;
        padding: 15px;
        background-color: #c9cece;
        border-bottom: 1px solid #edeff0;    
        font-weight: inherit;    
    }

    .content-products {
        padding: 15px;

        .products {
            
            height: 400px;
            overflow: auto;

            > hr{
                border-bottom: 6px solid $color-primary;
            }
        }

        .product {
            max-width: none;
            text-align: left;
            min-height: 94px;
            position: relative;
            padding: 5px 11px 5px 92px;  
            padding-bottom: 10px; 
            
            .product-image {
                width: 82px;
                height: 94px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px 10px 5px 0;
                overflow: hidden;

                a {
                    display: block;
                }

                img {
                    width: 100%;
                    height: auto;
                }
                
            }

            .product-name {
                font-size: 13px;
                color: $color-product;
                padding-top: 10px;
                
                a {   
                    color: #666;
                    
                }
            }

            .product-quantity{
                font-size: 13px;
                color: $color-product-quantity;
                margin-right: 14px;    
            }

            .product-price {
                font-size: 13px;
                color: $color-product;
                line-height: 26px;
                float: right;
               
            }
            
        }

        .subtotal {
            padding: 8px 11px;
            position: relative;
            border-bottom: 0;
        
        }
    }

    .close-btn {
        position: absolute;
        right: 20px;
        top: 13px;
        background-color: white;
        color: black;
        border-radius: 50%;
        padding: 5px 10px;
        font-family: cursive;
        cursor: pointer;

        &:hover {
            background-color: #ff8eaa;
        }
    } 

    
    .footer {    
        padding: 10px 15px;
        border-top: 1px solid #edeff0;
        text-align: right;

        a {
            color: #000;
            font-weight: bold;
        }
    }   

}